/.ContractGenerator.java._trace
/.ContractGenerator.xtendbin
/.FireflyInterfaceGenerator.java._trace
/.FireflyInterfaceGenerator.xtendbin
/.HyperledgerGenerator.java._trace
/.HyperledgerGenerator.xtendbin
/.SolidityGenerator.java._trace
/.SolidityGenerator.xtendbin
/ContractGenerator.java
/FireflyInterfaceGenerator.java
/HyperledgerGenerator.java
/SolidityGenerator.java
