<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.us.lsi/es/mis/xtext/Contract"
			class = "lsi.us.es.mis.xtext.contract.ContractPackage"
			genModel = "model/generated/Contract.genmodel" />
	</extension>
</plugin>
